manifest {
  // Read more at https://www.nextflow.io/docs/latest/config.html#config-manifest
  author = 'Unseen Bio ApS'
  description = 'Build a database of sourmash signatures from a genomic library.'
  homePage = 'https://unseenbio.com'
  name = 'build-sourmash-index'
  nextflowVersion = '!>=21.10.5'
  version = '0.1.0'
}

params {
  // Input options
  input = null
  taxonomy = 'MISSING'
  scaling_factor = 1000
  kmer_size = 31
  batch_size = 100

  // Pipeline options
  outdir = 'results'
  tracedir = "${params.outdir}/info"
  publish_dir_mode = 'link'
  enable_conda = false
  singularity_pull_docker_container = false
}

profiles {
  conda {
    // Read more at https://www.nextflow.io/docs/latest/conda.html
    params.enable_conda = true
    docker.enabled = false
    singularity.enabled = false
  }
  docker {
    // Read more at https://www.nextflow.io/docs/latest/docker.html
    docker.enabled = true
    docker.runOptions = '--user \$(id -u):\$(id -g)'
    singularity.enabled = false
  }
  singularity {
    // Read more at https://www.nextflow.io/docs/latest/singularity.html
    singularity.enabled = true
    singularity.autoMounts = true
    docker.enabled = false
  }
}

process {
  cpus = 1
  memory = { 4.GB * task.attempt }
  time   = 4.h

  errorStrategy = { task.exitStatus in [104, 134, 137, 139, 143] ? 'retry' : 'finish' }
  maxRetries    = 1
  maxErrors     = -1

  ext {
    args = ''
    prefix = ''
  }
}

def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace_${trace_timestamp}.tsv"
  fields = 'task_id,hash,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,start,complete,realtime,%cpu,%mem,rss,vmem,read_bytes,write_bytes,workdir'
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag_${trace_timestamp}.svg"
}

// Load `modules.config` for DSL2 module specific options.
includeConfig './conf/modules.config'
